war/WEB-INF/schemas/column.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.butent.com/column" elementFormDefault="qualified"
  xmlns="http://www.butent.com/column"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tp="http://www.butent.com/type"
  xmlns:ui="http://www.butent.com/ui">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
  <xs:import namespace="http://www.butent.com/type" schemaLocation="types.xsd" />
  <xs:import namespace="http://www.butent.com/ui" schemaLocation="ui.xsd" />

  <xs:complexType name="columnType">
    <xs:sequence>
      <xs:element name="style" type="columnStyle" minOccurs="0" />
      <xs:element name="dynStyle" type="ui:conditionalStyle" minOccurs="0" maxOccurs="unbounded" />
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="renderer" type="ui:renderer" />
        <xs:element name="render" type="ui:calcType" />
        <xs:element name="renderToken" type="ui:renderableToken" maxOccurs="unbounded" />
      </xs:choice>
      <xs:element name="footer" type="columnFooter" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="columnName" use="required" />
    <xs:attribute name="caption" type="xs:string" />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="readOnly" type="xs:boolean" />
    <xs:attribute name="width" type="columnWidth" />
    <xs:attribute name="minWidth" type="columnWidth" />
    <xs:attribute name="maxWidth" type="columnWidth" />
    <xs:attribute name="autoFit" type="tp:intOrBoolean" />
    <xs:attributeGroup ref="flex" />
    <xs:attribute name="sortable" type="xs:boolean" default="true" />
    <xs:attribute name="visible" type="xs:boolean" />
    <xs:attribute name="module" type="tp:modules" />
    <xs:attribute name="format" type="xs:normalizedString" />
    <xs:attribute name="scale" type="xs:unsignedByte" />
    <xs:attribute name="horizontalAlignment" type="ui:horizontalAlignmentType" />
    <xs:attribute name="verticalAlignment" type="ui:verticalAlignmentType" />
    <xs:attribute name="whiteSpace" type="ui:whiteSpaceType" />
    <xs:attribute name="cellType" type="ui:cellType" />
    <xs:attribute name="cellResizable" type="xs:boolean" />
    <xs:attribute name="renderColumns" type="tp:fieldNames" />
    <xs:attribute name="sortBy" type="tp:fieldNames" />
    <xs:attribute name="searchBy" type="tp:fieldNames" />
    <xs:attribute name="filterSupplier" type="tp:filterSupplier" />
    <xs:attribute name="filterOptions" type="xs:normalizedString" />
    <xs:attribute name="options" type="xs:normalizedString" />
    <xs:attribute name="exportable" type="xs:boolean" />
    <xs:attribute name="exportWidthFactor" type="tp:positiveDecimal" />
    <xs:attribute name="draggable" type="xs:boolean" />
    <xs:attribute name="backgroundSource" type="tp:fieldNameType" />
    <xs:attribute name="foregroundSource" type="tp:fieldNameType" />
    <xs:attribute ref="xml:base" />
  </xs:complexType>

  <xs:complexType name="columnList">
    <xs:sequence>
      <xs:element ref="column" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute ref="xml:base" />
  </xs:complexType>

  <xs:element name="column" type="columnType" abstract="true" />

  <xs:element name="IdColumn" type="columnType" substitutionGroup="column" />
  <xs:element name="VerColumn" type="columnType" substitutionGroup="column" />

  <xs:element name="SelectionColumn" type="columnType" substitutionGroup="column" />

  <xs:complexType name="baseColumn">
    <xs:complexContent>
      <xs:extension base="columnType">
        <xs:sequence>
          <xs:element name="editable" type="ui:calcType" minOccurs="0" />
          <xs:element name="editor" type="ui:editor" minOccurs="0" />
          <xs:element name="validation" type="ui:calcType" minOccurs="0" />
          <xs:element name="carry" type="ui:calcType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="source" type="tp:fieldNameType" />
        <xs:attribute name="required" type="xs:boolean" />
        <xs:attribute name="enumKey" type="xs:normalizedString" />
        <xs:attribute name="updateMode" type="ui:refreshType" />
        <xs:attribute name="carry" type="xs:boolean" />
        <xs:attribute name="editInPlace" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataColumn">
    <xs:complexContent>
      <xs:extension base="baseColumn">
        <xs:attribute name="minValue" type="xs:normalizedString" />
        <xs:attribute name="maxValue" type="xs:normalizedString" />
        <xs:attributeGroup ref="columnRelation" />
        <xs:attribute name="dynamic" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DataColumn" type="dataColumn" substitutionGroup="column" />

  <xs:complexType name="relatedColumn">
    <xs:complexContent>
      <xs:extension base="baseColumn">
        <xs:sequence>
          <xs:group ref="ui:selector" minOccurs="0" maxOccurs="1" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="selectorColumn" type="ui:selectorColumn" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="viewName" type="tp:dataView" />
        <xs:attributeGroup ref="ui:relation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RelColumn" type="relatedColumn" substitutionGroup="column" />

  <xs:complexType name="autocompleteColumn">
    <xs:complexContent>
      <xs:extension base="baseColumn">
        <xs:attribute name="viewName" type="tp:dataView" use="required" />
        <xs:attribute name="viewColumn" type="tp:fieldNameType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="AutoColumn" type="autocompleteColumn" substitutionGroup="column" />

  <xs:complexType name="calculatedColumn">
    <xs:complexContent>
      <xs:extension base="columnType">
        <xs:attribute name="type" type="tp:valueType" use="required" />
        <xs:attribute name="precision" type="xs:positiveInteger" />
        <xs:attribute name="source" type="tp:fieldNameType" />
        <xs:attributeGroup ref="columnRelation" />
        <xs:attribute name="dynamic" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CalcColumn" type="calculatedColumn" substitutionGroup="column" />

  <xs:complexType name="actionColumn">
    <xs:complexContent>
      <xs:extension base="columnType">
        <xs:attribute name="source" type="tp:fieldNameType" />
        <xs:attribute name="element" type="ui:elementType" use="required" />
        <xs:attributeGroup ref="columnRelation" />
        <xs:attribute name="dynamic" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ActionColumn" type="actionColumn" substitutionGroup="column" />

  <xs:complexType name="propertyColumn">
    <xs:complexContent>
      <xs:extension base="columnType">
        <xs:attribute name="type" type="tp:valueType" use="required" />
        <xs:attribute name="precision" type="xs:positiveInteger" />
        <xs:attribute name="property" type="tp:nameType" />
        <xs:attribute name="userMode" type="xs:boolean" />
        <xs:attribute name="enumKey" type="xs:normalizedString" />
        <xs:attributeGroup ref="columnRelation" />
        <xs:attribute name="dynamic" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PropColumn" type="propertyColumn" substitutionGroup="column" />

  <xs:complexType name="columnStyle">
    <xs:sequence>
      <xs:element name="headerStyle" type="ui:styleType" minOccurs="0" />
      <xs:element name="bodyStyle" type="ui:styleType" minOccurs="0" />
      <xs:element name="footerStyle" type="ui:styleType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="columnWidth">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="12" />
      <xs:maxInclusive value="999" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="flexBasis">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger" />
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:attributeGroup name="flex">
    <xs:attribute name="flexGrow" type="xs:nonNegativeInteger" />
    <xs:attribute name="flexShrink" type="xs:nonNegativeInteger" />
    <xs:attribute name="flexBasis" type="flexBasis" />
    <xs:attribute name="flexBasisUnit" type="ui:cssUnit" />
  </xs:attributeGroup>

  <xs:simpleType name="columnName">
    <xs:restriction base="xs:ID">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="columnAggregate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sum" />
      <xs:enumeration value="count" />
      <xs:enumeration value="max" />
      <xs:enumeration value="min" />
      <xs:enumeration value="avg" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rowEvaluator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="total" />
      <xs:enumeration value="vat" />
      <xs:enumeration value="discount" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="columnFooter">
    <xs:attribute name="aggregate" type="columnAggregate" />
    <xs:attribute name="expression" type="xs:string" />
    <xs:attribute name="evaluator" type="rowEvaluator" />
    <xs:attribute name="type" type="tp:valueType" />
    <xs:attribute name="text" type="xs:string" />
    <xs:attribute name="html" type="xs:string" />
    <xs:attribute name="format" type="xs:normalizedString" />
    <xs:attribute name="scale" type="xs:unsignedByte" />
    <xs:attribute name="horizontalAlignment" type="ui:horizontalAlignmentType" />
    <xs:attribute name="verticalAlignment" type="ui:verticalAlignmentType" />
    <xs:attribute name="whiteSpace" type="ui:whiteSpaceType" />
    <xs:attribute name="options" type="xs:normalizedString" />
  </xs:complexType>

  <xs:attributeGroup name="columnRelation">
    <xs:attribute name="editForm" type="tp:nameType" />
    <xs:attribute name="editPopup" type="xs:boolean" />
    <xs:attribute name="editEnabled" type="xs:boolean" />
    <xs:attribute name="editKey" type="xs:int" />
    <xs:attribute name="editSource" type="tp:fieldNameType" />
    <xs:attribute name="editTarget" type="tp:fieldNameType" />
    <xs:attribute name="editViewName" type="tp:dataView" />
  </xs:attributeGroup>

</xs:schema>
