war/WEB-INF/schemas/grid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.butent.com/bee"
  xmlns:bee="http://www.butent.com/bee" elementFormDefault="qualified">

  <xs:element name="BeeGrids">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BeeGrid" type="bee:grid" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="grid">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="BeeDataColumn" type="bee:dataColumn" />
      <xs:element name="BeeRelColumn" type="bee:relatedColumn" />
      <xs:element name="BeeCalcColumn" type="bee:calculatedColumn" />
      <xs:element name="BeeIdColumn" type="bee:column" />
      <xs:element name="BeeVerColumn" type="bee:column" />
    </xs:choice>
    <xs:attribute name="name" type="bee:nameType" use="required" />
    <xs:attribute name="viewName" type="bee:nameType" use="required" />
    <xs:attribute name="caption" type="xs:string" />
    <xs:attribute name="headerCellHeight" type="xs:byte" />
    <xs:attribute name="bodyCellHeight" type="xs:byte" />
    <xs:attribute name="footerCellHeight" type="xs:byte" />
    <xs:attribute name="readOnly" type="xs:boolean" />
    <xs:attribute name="width" type="xs:byte" />
    <xs:attribute name="headerWidth" type="xs:byte" />
    <xs:attribute name="bodyWidth" type="xs:byte" />
    <xs:attribute name="footerWidth" type="xs:byte" />
  </xs:complexType>

  <xs:complexType name="dataColumn">
    <xs:complexContent>
      <xs:extension base="bee:column">
        <xs:attribute name="source" type="bee:nameType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="relatedColumn">
    <xs:complexContent>
      <xs:extension base="bee:dataColumn">
        <xs:attribute name="relation" type="bee:nameType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="calculatedColumn">
    <xs:complexContent>
      <xs:extension base="bee:column">
        <xs:attribute name="expression" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="column">
    <xs:attribute name="name" type="bee:nameType" use="required" />
    <xs:attribute name="caption" use="required" />
    <xs:attribute name="readOnly" type="xs:boolean" />
    <xs:attribute name="width" type="xs:byte" />
  </xs:complexType>

  <xs:simpleType name="nameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
