war/WEB-INF/schemas/grid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.butent.com/bee"
  xmlns:bee="http://www.butent.com/bee" elementFormDefault="qualified">
  
  <xs:include schemaLocation="types.xsd" />
  <xs:include schemaLocation="ui.xsd" />
  <xs:include schemaLocation="columns.xsd" />
  <xs:include schemaLocation="widget.xsd" />

  <xs:element name="BeeGrid" type="bee:grid" />

  <xs:complexType name="grid">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="css" type="bee:styleSheet" />
        <xs:element name="north" type="bee:extWidget" />
        <xs:element name="south" type="bee:extWidget" />
        <xs:element name="west" type="bee:extWidget" />
        <xs:element name="east" type="bee:extWidget" />
      </xs:choice>
      <xs:element name="header" type="bee:componentType" minOccurs="0" />
      <xs:element name="body" type="bee:componentType" minOccurs="0" />
      <xs:element name="footer" type="bee:componentType" minOccurs="0" />
      <xs:element name="columns" type="bee:columnList" maxOccurs="unbounded" />
      <xs:element name="rowStyle" type="bee:conditionalStyle" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="rowMessage" type="bee:calcType" minOccurs="0" />
      <xs:element name="rowEditable" type="bee:calcType" minOccurs="0" />
      <xs:element name="rowValidation" type="bee:calcType" minOccurs="0" />
      <xs:element name="editMessage" type="bee:calcType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="bee:nameType" use="required" />
    <xs:attribute name="caption" type="xs:string" />
    <xs:attribute name="viewName" type="bee:nameType" />
    <xs:attribute name="filter" type="xs:normalizedString" />
    <xs:attribute name="order" type="xs:normalizedString" />
    <xs:attribute name="minColumnWidth" type="bee:columnWidth" />
    <xs:attribute name="maxColumnWidth" type="bee:columnWidth" />
    <xs:attribute name="showColumnWidths" type="xs:boolean" />
    <xs:attribute name="hasHeaders" type="xs:boolean" default="true" />
    <xs:attribute name="hasFooters" type="xs:boolean" default="true" />
    <xs:attribute name="footerEvents" type="bee:eventList" />
    <xs:attribute name="caching" type="xs:boolean" default="true" />
    <xs:attribute name="asyncThreshold" type="xs:nonNegativeInteger" default="100" />
    <xs:attribute name="pagingThreshold" type="xs:nonNegativeInteger" default="20" />
    <xs:attribute name="searchThreshold" type="xs:nonNegativeInteger" default="2" />
    <xs:attribute name="initialRowSetSize" type="xs:positiveInteger" />
    <xs:attribute name="readOnly" type="xs:boolean" />
    <xs:attribute name="newRowForm" type="bee:nameType" />
    <xs:attribute name="newRowColumns" type="xs:normalizedString" />
    <xs:attribute name="newRowCaption" type="xs:string" />
    <xs:attribute name="editForm" type="bee:nameType" />
    <xs:attribute name="editMode" type="xs:boolean" />
    <xs:attribute name="editSave" type="xs:boolean" default="true" />
    <xs:attribute name="editShowId" type="xs:boolean" />
    <xs:attribute name="editInPlace" type="xs:normalizedString" />
    <xs:attribute name="editNewRow" type="xs:boolean" />
    <xs:attribute name="enabledActions" type="bee:viewActions" />
    <xs:attribute name="disabledActions" type="bee:viewActions" />
  </xs:complexType>

  <xs:complexType name="extWidget">
    <xs:complexContent>
      <xs:extension base="bee:splitDirection">
        <xs:attribute name="precedes">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="header" />
              <xs:enumeration value="footer" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="hidable" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="rowHeight">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="12" />
      <xs:maxExclusive value="400" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="componentType">
    <xs:sequence>
      <xs:element name="style" type="bee:styleType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="height" type="bee:rowHeight" />
    <xs:attribute name="minHeight" type="bee:rowHeight" />
    <xs:attribute name="maxHeight" type="bee:rowHeight" />
    <xs:attribute name="padding" type="bee:edges" />
    <xs:attribute name="borderWidth" type="bee:edges" />
    <xs:attribute name="margin" type="bee:edges" />
  </xs:complexType>

</xs:schema>
