war/WEB-INF/schemas/state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.butent.com/bee"
  xmlns:bee="http://www.butent.com/bee" elementFormDefault="qualified">
  
  <xs:include schemaLocation="types.xsd"/>

  <xs:element name="BeeState" type="bee:stateType" />

  <xs:complexType name="stateType">
    <xs:attribute name="name" use="required" type="bee:stateNameType" />
    <xs:attribute name="userMode" type="xs:boolean" />
    <xs:attribute name="roleMode" type="xs:boolean" />
    <xs:attribute name="checked" type="xs:boolean" />
  </xs:complexType>
</xs:schema>
