war/WEB-INF/schemas/ui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.butent.com/ui" elementFormDefault="qualified"
  xmlns="http://www.butent.com/ui"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:type="http://www.butent.com/type">

  <xs:import namespace="http://www.butent.com/type" schemaLocation="types.xsd" />

  <xs:complexType name="styleType">
    <xs:sequence>
      <xs:element name="class" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="inline" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="font" type="xs:normalizedString" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calcType">
    <xs:choice>
      <xs:element name="expression" type="xs:normalizedString" />
      <xs:element name="function" type="xs:string" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="conditionalStyle">
    <xs:complexContent>
      <xs:extension base="styleType">
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="expression" type="xs:normalizedString" />
          <xs:element name="function" type="xs:string" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="edges">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]( [0-9]){0,3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="horizontalAlignmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left" />
      <xs:enumeration value="center" />
      <xs:enumeration value="right" />
      <xs:enumeration value="justify" />
      <xs:enumeration value="start" />
      <xs:enumeration value="end" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="verticalAlignmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top" />
      <xs:enumeration value="middle" />
      <xs:enumeration value="bottom" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="alignment">
    <xs:attribute name="horizontalAlignment" type="horizontalAlignmentType" />
    <xs:attribute name="verticalAlignment" type="verticalAlignmentType" />
  </xs:attributeGroup>

  <xs:simpleType name="cssUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="%" />
      <xs:enumeration value="in" />
      <xs:enumeration value="cm" />
      <xs:enumeration value="mm" />
      <xs:enumeration value="em" />
      <xs:enumeration value="ex" />
      <xs:enumeration value="pt" />
      <xs:enumeration value="pc" />
      <xs:enumeration value="px" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="dimension">
    <xs:attribute name="width" type="xs:decimal" />
    <xs:attribute name="widthUnit" type="cssUnit" />
    <xs:attribute name="height" type="xs:decimal" />
    <xs:attribute name="heightUnit" type="cssUnit" />
  </xs:attributeGroup>

  <xs:attributeGroup name="positioning">
    <xs:attribute name="left" type="xs:decimal" />
    <xs:attribute name="leftUnit" type="cssUnit" />
    <xs:attribute name="right" type="xs:decimal" />
    <xs:attribute name="rightUnit" type="cssUnit" />
    <xs:attribute name="top" type="xs:decimal" />
    <xs:attribute name="topUnit" type="cssUnit" />
    <xs:attribute name="bottom" type="xs:decimal" />
    <xs:attribute name="bottomUnit" type="cssUnit" />
  </xs:attributeGroup>

  <xs:attributeGroup name="appearance">
    <xs:attribute name="class" type="xs:normalizedString" />
    <xs:attribute name="style" type="xs:string" />
  </xs:attributeGroup>

  <xs:attributeGroup name="cellAppearance">
    <xs:attribute name="cellClass" type="xs:normalizedString" />
    <xs:attribute name="cellStyle" type="xs:string" />
  </xs:attributeGroup>

  <xs:attributeGroup name="textArea">
    <xs:attribute name="visibleLines" type="xs:positiveInteger" />
    <xs:attribute name="characterWidth" type="xs:positiveInteger" />
  </xs:attributeGroup>

  <xs:simpleType name="cellType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="html" />
      <xs:enumeration value="input" />
      <xs:enumeration value="div" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="editor">
    <xs:sequence>
      <xs:element name="item" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="type" type="editorType" use="required" />
    <xs:attribute name="valueStartIndex" type="xs:int" />
    <xs:attribute name="stepValue" type="xs:positiveInteger" />
    <xs:attributeGroup ref="textArea" />
    <xs:attribute name="format" type="xs:normalizedString" />
    <xs:attribute name="upperCase" type="xs:boolean" />
    <xs:attribute name="width" type="xs:positiveInteger" />
    <xs:attribute name="height" type="xs:positiveInteger" />
    <xs:attribute name="minWidth" type="xs:positiveInteger" />
    <xs:attribute name="minHeight" type="xs:positiveInteger" />
    <xs:attribute name="onEntry" type="editorAction" />
    <xs:attribute name="options" type="xs:normalizedString" />
  </xs:complexType>

  <xs:simpleType name="editorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="list" />
      <xs:enumeration value="picker" />
      <xs:enumeration value="date" />
      <xs:enumeration value="dateTime" />
      <xs:enumeration value="string" />
      <xs:enumeration value="area" />
      <xs:enumeration value="text" />
      <xs:enumeration value="rich" />
      <xs:enumeration value="number" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="slider" />
      <xs:enumeration value="spinner" />
      <xs:enumeration value="long" />
      <xs:enumeration value="selector" />
      <xs:enumeration value="toggle" />
      <xs:enumeration value="time" />
      <xs:enumeration value="timeOfDay" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="editorAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="replace" />
      <xs:enumeration value="select" />
      <xs:enumeration value="home" />
      <xs:enumeration value="end" />
      <xs:enumeration value="addFirst" />
      <xs:enumeration value="addLast" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="imageResource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="accept" />
      <xs:enumeration value="add" />
      <xs:enumeration value="arrowDown" />
      <xs:enumeration value="arrowIn" />
      <xs:enumeration value="arrowLeft" />
      <xs:enumeration value="arrowOut" />
      <xs:enumeration value="arrowRight" />
      <xs:enumeration value="arrowUp" />
      <xs:enumeration value="ascending" />
      <xs:enumeration value="attachment" />
      <xs:enumeration value="bookmark" />
      <xs:enumeration value="bookmarkAdd" />
      <xs:enumeration value="calendar" />
      <xs:enumeration value="cancel" />
      <xs:enumeration value="close" />
      <xs:enumeration value="closeSmall" />
      <xs:enumeration value="configure" />
      <xs:enumeration value="delete" />
      <xs:enumeration value="descending" />
      <xs:enumeration value="disclosureClosed" />
      <xs:enumeration value="disclosureOpen" />
      <xs:enumeration value="edit" />
      <xs:enumeration value="editAdd" />
      <xs:enumeration value="editDelete" />
      <xs:enumeration value="error" />
      <xs:enumeration value="filterDelete" />
      <xs:enumeration value="first" />
      <xs:enumeration value="forward" />
      <xs:enumeration value="forwardTo" />
      <xs:enumeration value="green" />
      <xs:enumeration value="greenSmall" />
      <xs:enumeration value="html" />
      <xs:enumeration value="last" />
      <xs:enumeration value="loading" />
      <xs:enumeration value="next" />
      <xs:enumeration value="noes" />
      <xs:enumeration value="ok" />
      <xs:enumeration value="plane" />
      <xs:enumeration value="play" />
      <xs:enumeration value="previous" />
      <xs:enumeration value="question" />
      <xs:enumeration value="red" />
      <xs:enumeration value="redSmall" />
      <xs:enumeration value="redo" />
      <xs:enumeration value="refresh" />
      <xs:enumeration value="reload" />
      <xs:enumeration value="replyTo" />
      <xs:enumeration value="replyToAll" />
      <xs:enumeration value="report" />
      <xs:enumeration value="rewind" />
      <xs:enumeration value="save" />
      <xs:enumeration value="search" />
      <xs:enumeration value="settings" />
      <xs:enumeration value="undo" />
      <xs:enumeration value="yellow" />
      <xs:enumeration value="yellowSmall" />

      <xs:enumeration value="silverAdd" />
      <xs:enumeration value="silverBookmarkAdd" />
      <xs:enumeration value="silverClose" />
      <xs:enumeration value="silverConfigure" />
      <xs:enumeration value="silverDelete" />
      <xs:enumeration value="silverEdit" />
      <xs:enumeration value="silverPrint" />
      <xs:enumeration value="silverReload" />
      <xs:enumeration value="silverSave" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blur" />
      <xs:enumeration value="canplaythrough" />
      <xs:enumeration value="change" />
      <xs:enumeration value="click" />
      <xs:enumeration value="contextmenu" />
      <xs:enumeration value="dblclick" />
      <xs:enumeration value="drag" />
      <xs:enumeration value="dragend" />
      <xs:enumeration value="dragenter" />
      <xs:enumeration value="dragleave" />
      <xs:enumeration value="dragover" />
      <xs:enumeration value="dragstart" />
      <xs:enumeration value="drop" />
      <xs:enumeration value="ended" />
      <xs:enumeration value="error" />
      <xs:enumeration value="focus" />
      <xs:enumeration value="gesturechange" />
      <xs:enumeration value="gestureend" />
      <xs:enumeration value="gesturestart" />
      <xs:enumeration value="input" />
      <xs:enumeration value="keydown" />
      <xs:enumeration value="keypress" />
      <xs:enumeration value="keyup" />
      <xs:enumeration value="load" />
      <xs:enumeration value="losecapture" />
      <xs:enumeration value="mousedown" />
      <xs:enumeration value="mousemove" />
      <xs:enumeration value="mouseout" />
      <xs:enumeration value="mouseover" />
      <xs:enumeration value="mouseup" />
      <xs:enumeration value="mousewheel" />
      <xs:enumeration value="progress" />
      <xs:enumeration value="scroll" />
      <xs:enumeration value="touchcancel" />
      <xs:enumeration value="touchend" />
      <xs:enumeration value="touchmove" />
      <xs:enumeration value="touchstart" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="eventHandler">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="event" type="eventType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="eventList">
    <xs:list itemType="eventType" />
  </xs:simpleType>

  <xs:simpleType name="viewAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add" />
      <xs:enumeration value="bookmark" />
      <xs:enumeration value="configure" />
      <xs:enumeration value="close" />
      <xs:enumeration value="delete" />
      <xs:enumeration value="edit" />
      <xs:enumeration value="refresh" />
      <xs:enumeration value="save" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="viewActions">
    <xs:list itemType="viewAction" />
  </xs:simpleType>
  
  <xs:simpleType name="cssRuleSet">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\s*\.[a-z]\S{2,}.*\{\s*([a-z\-]{3,}:.*\S;\s*)+\}\s*)+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="styleSheet">
    <xs:simpleContent>
      <xs:extension base="cssRuleSet">
        <xs:attribute name="id" type="xs:ID" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="renderer">
    <xs:sequence>
      <xs:element name="item" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="type" type="rendererType" use="required" />
    <xs:attribute name="valueStartIndex" type="xs:int" />
    <xs:attribute name="separator" type="xs:normalizedString" />
    <xs:attribute name="options" type="xs:normalizedString" />
  </xs:complexType>

  <xs:simpleType name="rendererType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="list" />
      <xs:enumeration value="map" />
      <xs:enumeration value="range" />
      <xs:enumeration value="enum" />
      <xs:enumeration value="join" />
      <xs:enumeration value="flag" />
      <xs:enumeration value="star" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="renderableToken">
    <xs:attribute name="source" type="type:nameType" use="required" />
    <xs:attribute name="prefix" type="xs:string" />
    <xs:attribute name="suffix" type="xs:string" />
    <xs:attribute name="addPrefixWhenEmpty" type="xs:boolean" />
    <xs:attribute name="addSuffixWhenEmpty" type="xs:boolean" />
    <xs:attribute name="format" type="xs:normalizedString" />
    <xs:attribute name="scale" type="xs:unsignedByte" />
  </xs:complexType>
  
  <xs:group name="selector">
    <xs:choice>
      <xs:element name="rowRenderer" type="renderer" />
      <xs:element name="rowRender" type="calcType" />
      <xs:element name="rowRenderToken" type="renderableToken" maxOccurs="unbounded" />
    </xs:choice>
  </xs:group>
   
  <xs:complexType name="selectorColumn">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="renderer" type="renderer" />
      <xs:element name="render" type="calcType" />
      <xs:element name="renderToken" type="renderableToken" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="source" type="type:nameType" use="required" />
    <xs:attributeGroup ref="appearance" />
    <xs:attributeGroup ref="alignment" />
    <xs:attribute name="itemKey" type="xs:normalizedString" />
    <xs:attribute name="renderColumns" type="type:nameList" />
  </xs:complexType>

  <xs:simpleType name="relationCaching">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="query" />
      <xs:enumeration value="local" />
      <xs:enumeration value="global" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:attributeGroup name="relation">
    <xs:attribute name="choiceColumns" type="type:nameList" />
    <xs:attribute name="searchableColumns" type="type:nameList" />
    <xs:attribute name="filter" type="xs:normalizedString" />
    <xs:attribute name="order" type="xs:normalizedString" />
    <xs:attribute name="caching" type="relationCaching" />
    <xs:attribute name="operator" type="type:operatorType" />
    <xs:attribute name="itemType" type="menuItemType" />
    <xs:attribute name="visibleLines" type="xs:positiveInteger" />
    <xs:attribute name="newRowForm" type="type:nameType" />
    <xs:attribute name="newRowColumns" type="type:nameList" />
    <xs:attribute name="newRowCaption" type="xs:string" />
    <xs:attribute name="newRowEnabled" type="xs:boolean" />
    <xs:attribute name="editForm" type="type:nameType" />
    <xs:attribute name="editPopup" type="xs:boolean" />
    <xs:attribute name="editEnabled" type="xs:boolean" />
    <xs:attribute name="editKey" type="xs:int" />
  </xs:attributeGroup>
  
  <xs:simpleType name="refreshType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cell" />
      <xs:enumeration value="row" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="focusAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="select" />
      <xs:enumeration value="home" />
      <xs:enumeration value="end" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="menuItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="label" />
      <xs:enumeration value="button" />
      <xs:enumeration value="radio" />
      <xs:enumeration value="html" />
      <xs:enumeration value="option" />
      <xs:enumeration value="li" />
      <xs:enumeration value="dt" />
      <xs:enumeration value="dd" />
      <xs:enumeration value="row" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="elementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="link" />
      <xs:enumeration value="button" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
