war/WEB-INF/schemas/ui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.butent.com/bee"
  xmlns:bee="http://www.butent.com/bee" elementFormDefault="qualified">

  <xs:include schemaLocation="types.xsd" />

  <xs:complexType name="styleType">
    <xs:sequence>
      <xs:element name="class" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="inline" type="xs:normalizedString" minOccurs="0" />
      <xs:element name="font" type="xs:normalizedString" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calcType">
    <xs:choice>
      <xs:element name="expression" type="xs:normalizedString" />
      <xs:element name="function" type="xs:string" />
      <xs:element name="lambda" type="xs:normalizedString" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="conditionalStyle">
    <xs:sequence>
      <xs:element name="style" type="bee:styleType" />
      <xs:element name="condition" type="bee:calcType" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="edges">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]( [0-9]){0,3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="horizontalAlignmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left" />
      <xs:enumeration value="center" />
      <xs:enumeration value="right" />
      <xs:enumeration value="justify" />
      <xs:enumeration value="start" />
      <xs:enumeration value="end" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="verticalAlignmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top" />
      <xs:enumeration value="middle" />
      <xs:enumeration value="bottom" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cssUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="%"></xs:enumeration>
      <xs:enumeration value="in"></xs:enumeration>
      <xs:enumeration value="cm"></xs:enumeration>
      <xs:enumeration value="mm"></xs:enumeration>
      <xs:enumeration value="em"></xs:enumeration>
      <xs:enumeration value="ex"></xs:enumeration>
      <xs:enumeration value="pt"></xs:enumeration>
      <xs:enumeration value="pc"></xs:enumeration>
      <xs:enumeration value="px"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="scrollBarsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="horizontal" />
      <xs:enumeration value="vertical" />
      <xs:enumeration value="both" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="dimension">
    <xs:attribute name="width" type="bee:positiveDecimal" />
    <xs:attribute name="widthUnit" type="bee:cssUnit" />
    <xs:attribute name="height" type="bee:positiveDecimal" />
    <xs:attribute name="heightUnit" type="bee:cssUnit" />
  </xs:attributeGroup>

  <xs:attributeGroup name="positioning">
    <xs:attribute name="left" type="xs:decimal" />
    <xs:attribute name="leftUnit" type="bee:cssUnit" />
    <xs:attribute name="right" type="xs:decimal" />
    <xs:attribute name="rightUnit" type="bee:cssUnit" />
    <xs:attribute name="top" type="xs:decimal" />
    <xs:attribute name="topUnit" type="bee:cssUnit" />
    <xs:attribute name="bottom" type="xs:decimal" />
    <xs:attribute name="bottomUnit" type="bee:cssUnit" />
  </xs:attributeGroup>

  <xs:attributeGroup name="appearance">
    <xs:attribute name="class" type="xs:normalizedString" />
    <xs:attribute name="style" type="xs:string" />
  </xs:attributeGroup>

  <xs:simpleType name="cellType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="html" />
      <xs:enumeration value="input" />
      <xs:enumeration value="div" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="editor">
    <xs:sequence>
      <xs:element name="item" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="type" type="bee:editorType" use="required" />
    <xs:attribute name="stepValue" type="xs:positiveInteger" />
    <xs:attribute name="characterWidth" type="xs:positiveInteger" />
    <xs:attribute name="visibleLines" type="xs:positiveInteger" />
    <xs:attribute name="format" type="xs:normalizedString" />
    <xs:attribute name="width" type="xs:positiveInteger" />
    <xs:attribute name="height" type="xs:positiveInteger" />
    <xs:attribute name="minWidth" type="xs:positiveInteger" />
    <xs:attribute name="minHeight" type="xs:positiveInteger" />
    <xs:attribute name="onEntry" type="bee:editorAction" />
    <xs:attribute name="options" type="xs:normalizedString" />
  </xs:complexType>

  <xs:simpleType name="editorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="list" />
      <xs:enumeration value="picker" />
      <xs:enumeration value="date" />
      <xs:enumeration value="datetime" />
      <xs:enumeration value="string" />
      <xs:enumeration value="area" />
      <xs:enumeration value="text" />
      <xs:enumeration value="rich" />
      <xs:enumeration value="number" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="slider" />
      <xs:enumeration value="spinner" />
      <xs:enumeration value="long" />
      <xs:enumeration value="selector" />
      <xs:enumeration value="toggle" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="editorAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="replace"></xs:enumeration>
      <xs:enumeration value="select"></xs:enumeration>
      <xs:enumeration value="home"></xs:enumeration>
      <xs:enumeration value="end"></xs:enumeration>
      <xs:enumeration value="addFirst"></xs:enumeration>
      <xs:enumeration value="addLast"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="imageResource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="accept" />
      <xs:enumeration value="add" />
      <xs:enumeration value="arrowDown" />
      <xs:enumeration value="arrowLeft" />
      <xs:enumeration value="arrowRight" />
      <xs:enumeration value="arrowUp" />
      <xs:enumeration value="ascending" />
      <xs:enumeration value="bookmark" />
      <xs:enumeration value="bookmark_add" />
      <xs:enumeration value="butent" />
      <xs:enumeration value="cancel" />
      <xs:enumeration value="close" />
      <xs:enumeration value="configure" />
      <xs:enumeration value="delete" />
      <xs:enumeration value="descending" />
      <xs:enumeration value="edit" />
      <xs:enumeration value="edit_add" />
      <xs:enumeration value="edit_delete" />
      <xs:enumeration value="exit" />
      <xs:enumeration value="first" />
      <xs:enumeration value="forward" />
      <xs:enumeration value="green" />
      <xs:enumeration value="greenSmall" />
      <xs:enumeration value="html" />
      <xs:enumeration value="last" />
      <xs:enumeration value="loading" />
      <xs:enumeration value="next" />
      <xs:enumeration value="noes" />
      <xs:enumeration value="ok" />
      <xs:enumeration value="play" />
      <xs:enumeration value="previous" />
      <xs:enumeration value="red" />
      <xs:enumeration value="redSmall" />
      <xs:enumeration value="redo" />
      <xs:enumeration value="refresh" />
      <xs:enumeration value="reload" />
      <xs:enumeration value="rewind" />
      <xs:enumeration value="save" />
      <xs:enumeration value="search" />
      <xs:enumeration value="undo" />
      <xs:enumeration value="yellow" />
      <xs:enumeration value="yellowSmall" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blur" />
      <xs:enumeration value="canplaythrough" />
      <xs:enumeration value="change" />
      <xs:enumeration value="click" />
      <xs:enumeration value="contextmenu" />
      <xs:enumeration value="dblclick" />
      <xs:enumeration value="drag" />
      <xs:enumeration value="dragend" />
      <xs:enumeration value="dragenter" />
      <xs:enumeration value="dragleave" />
      <xs:enumeration value="dragover" />
      <xs:enumeration value="dragstart" />
      <xs:enumeration value="drop" />
      <xs:enumeration value="ended" />
      <xs:enumeration value="error" />
      <xs:enumeration value="focus" />
      <xs:enumeration value="gesturechange" />
      <xs:enumeration value="gestureend" />
      <xs:enumeration value="gesturestart" />
      <xs:enumeration value="input" />
      <xs:enumeration value="keydown" />
      <xs:enumeration value="keypress" />
      <xs:enumeration value="keyup" />
      <xs:enumeration value="load" />
      <xs:enumeration value="losecapture" />
      <xs:enumeration value="mousedown" />
      <xs:enumeration value="mousemove" />
      <xs:enumeration value="mouseout" />
      <xs:enumeration value="mouseover" />
      <xs:enumeration value="mouseup" />
      <xs:enumeration value="mousewheel" />
      <xs:enumeration value="progress" />
      <xs:enumeration value="scroll" />
      <xs:enumeration value="touchcancel" />
      <xs:enumeration value="touchend" />
      <xs:enumeration value="touchmove" />
      <xs:enumeration value="touchstart" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="eventHandler">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="event" type="bee:eventType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="eventList">
    <xs:list itemType="bee:eventType" />
  </xs:simpleType>

  <xs:simpleType name="viewAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add"></xs:enumeration>
      <xs:enumeration value="bookmark"></xs:enumeration>
      <xs:enumeration value="configure"></xs:enumeration>
      <xs:enumeration value="close"></xs:enumeration>
      <xs:enumeration value="delete"></xs:enumeration>
      <xs:enumeration value="edit"></xs:enumeration>
      <xs:enumeration value="refresh"></xs:enumeration>
      <xs:enumeration value="requery"></xs:enumeration>
      <xs:enumeration value="save"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="viewActions">
    <xs:list itemType="bee:viewAction" />
  </xs:simpleType>
  
  <xs:simpleType name="cssRuleSet">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\s*\.[a-z]\S{2,}.*\{\s*([a-z\-]{3,}:.*\S;\s*)+\}\s*)+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="styleSheet">
    <xs:simpleContent>
      <xs:extension base="bee:cssRuleSet">
        <xs:attribute name="id" type="xs:ID" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
