war/WEB-INF/schemas/view.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.butent.com/bee"
  xmlns:bee="http://www.butent.com/bee" elementFormDefault="qualified">
  
  <xs:include schemaLocation="types.xsd"/>

  <xs:element name="BeeView" type="bee:view" />

  <xs:complexType name="view">
    <xs:sequence>
      <xs:element name="BeeColumns" type="bee:columns" minOccurs="1" maxOccurs="1" />
      <xs:element name="BeeOrder" type="bee:orders" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="bee:nameType" use="required" />
    <xs:attribute name="source" type="bee:tableNameType" use="required" />
    <xs:attribute name="filter" type="xs:string" />
    <xs:attribute name="readOnly" type="xs:boolean" />
  </xs:complexType>

  <xs:element name="column" type="bee:columnType" abstract="true" />
  <xs:element name="BeeSimpleColumn" type="bee:simpleColumnType" substitutionGroup="bee:column" />
  <xs:element name="BeeJoinColumn" type="bee:joinColumnType" substitutionGroup="bee:column" />

  <xs:complexType name="columns">
    <xs:sequence>
      <xs:element ref="bee:column" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orders">
    <xs:sequence>
      <xs:element name="OrderBy" type="bee:orderType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="columnType">
        <xs:attribute name="name" type="bee:nameType" />
    <xs:attribute name="expression" type="bee:fieldNameType" use="required" />
  </xs:complexType>

  <xs:complexType name="simpleColumnType">
    <xs:complexContent>
      <xs:extension base="bee:columnType">
        <xs:attribute name="locale">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="aggregate" type="bee:aggregateType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="joinColumnType">
    <xs:complexContent>
      <xs:extension base="bee:columnType">
        <xs:sequence>
          <xs:element ref="bee:column" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="source" type="bee:tableNameType" />
        <xs:attribute name="joinType" type="bee:joinType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="orderType">
    <xs:attribute name="column" type="bee:fieldNameType" use="required" />
    <xs:attribute name="descending" type="xs:boolean" />
  </xs:complexType>
</xs:schema>
